<header id="web-section-header">
    <div class="buttons">
        <button class="button is-link is-large"><%= t(:save) %></button>
        <button id="web-section-reset" class="button is-medium"><%= t(:reset) %></button>
    </div>
</header>
<main id="web-section-main">
    <iframe id="web-section-iframe" src="/admin/edit_web_sections/<%= params[:id]%>/"></iframe>
    <div><%= t('.description') %>
    <hr/>
    <caption><%= t('.links') %></caption>
    <ul>
        <li>aaaa</li>
        <li>aaaa</li>
        <li>aaaa</li>
        <li>aaaa</li>
        <li>aaaa</li>
        <li>aaaa</li>
        <li>aaaa</li>
    </ul>
    
</main>