<section class="container">
    <%= form_with(url: dashboards_search_path, method: :get, class: "field mx-5") do |f| %>
        <%= f.text_field :keyword, value: params[:keyword], placeholder: t(".search"), class: "input is-rounded" %>
    <% end %>
    <div class="paper columns features">
        <% Newsdict::Application.config.paper_column_number.times.each do |column_num| %>
        <div class="row is-3">
        <% (column_num+1).step(Newsdict::Application.config.paper_item_limit,
        Newsdict::Application.config.paper_column_number) do |index| %>
            <% break unless @contents[index] %>
            <div class="column paper card is-shady">
                <div class="columns is-mobile">
                    <div class="column is-1">
                        <figure class="image is-32x32">
                            <img class="is-rounded" src="<%= user_icon_path(@contents[index].source.id) %>">
                        </figure>
                    </div>
                    <div class="column has-text-weight-bold">
                        <div class="mt-2">
                            <%= @contents[index].source.view_name %>
                        </div>
                    </div>
                </div>
                <div class="card-head"  style="background-image: url(/img/<%= @contents[index].id %>)">
                    <div class="card-title">
                        <%= link_to @contents[index].expanded_url ,target: :_blank, ref: :nofollow do %>
                        <h4><%= @contents[index].title %></h4>
                        <% end %>
                    </div>
                </div>
                <footer>
                    <%= @contents[index].longer_tags.html_safe %>
                </footer>
            </div>
        <% end %>
        </div>
        <% end %>
    </div>
</section>