<%= form_for(@resource, url: inquiries_path) do |f| %>
<div class="container">
    <h1 class="title is-1"><%= I18n.t('inquiry') %></h1>
    <div class="field">
        <label class="label"><%= t('.your_name') %></label>
        <div class="control">
            <%= f.text_field :name, class: :input, autofocus: false, placeholder: t('.your_name') %>
        </div>
        <p class="help is-danger"><%= @resource.errors.messages[:name].join(",") %></p>
    </div>
    <div class="field">
        <label class="label"><%= t('.your_mailaddress') %></label>
        <div class="control">
            <%= f.text_field :mailaddress, class: :input, autofocus: false, placeholder: t('.your_mailaddress') %>
        </div>
        <p class="help is-danger"><%= @resource.errors.messages[:mailaddress].join(",") %></p>
    </div>
    <% if params.include?(:url) %>
    <div class="field">
        <label class="label"><%= t('.url') %></label>
        <div class="control">
            <%= f.text_field :url, value: params[:url],class: :input, autofocus: false, placeholder: t('.url'), readonly: true %>
        </div>
        <p class="help is-danger"><%= @resource.errors.messages[:inquiry].join(",") %></p>
    </div>
    <% end %>
    <div class="field">
        <label class="label"><%= t('.inquiry') %></label>
        <div class="control">
            <%= f.text_area :inquiry, row: 3, class: :textarea, autofocus: false, placeholder: t('.inquiry') %>
        </div>
        <p class="help is-danger"><%= @resource.errors.messages[:inquiry].join(",") %></p>
    </div>
    <%= recaptcha_tags %>
    <div class="field">
        <div class="control">
          <%= f.submit t('.submit'), class: :button %>
        </div>
    </div>
</div>
<% end %>