<div class="container">
    <div class="columns">
        <div class="column is-3 ">
            <aside class="menu is-hidden-mobile">
                <h2 class="menu-label">
                    <%= t(:be_shared_content_list, name: @content.source.view_name) %>
                </h2>
                <ul class="menu-list">
                    <% @contents.each_with_index do |content, index| %>
                    <li>
                        <%= link_to content.title.truncate(20), content_path(content.id), { class: (current_page?(content_path(content.id)) ? "is-active": "") }%>
                    </li>
                    <% end %>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Top</a></li>
                    <% if @content.source.category_id %>
                    <li>
                        <%= link_to category_path(category: Configs::Category.find_by(id: @content.source.category_id).key) do %>
                            <%= Configs::Category.find_by(id: @content.source.category_id).key %>
                        <% end %>
                    </li>
                    <% end %>
                    <li><a><%= @content.source.view_name %></a></li>
                    <li class="is-active"><a href="#" aria-current="page"><%= @content.title.truncate(20) %></a></li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            <%= @content.title %>
                        </h1>
                    </div>
                </div>
            </section>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title"><%= l(@content.created_at, format: :short) %></p>
                            <p class="subtitle"><%= t(:created_at) %></p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title"><%= @content.source.media_name %></p>
                            <p class="subtitle"><%= t(:media) %></p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title"><%= @content.count_of_shared %></p>
                            <p class="subtitle"><%= t(:count_of_shared) %></p>
                        </article>
                    </div>
                </div>
            </section>
            <div class="columns">
                <div class="column is-6">
                    <div class="card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <%= t(:information) %>
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tbody>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td width="20%"><%= t(:image) %></td>
                                            <td><img src="/img/<%= @content.id %>"></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td width="20%"><%= t(:source) %></td>
                                            <td><%= link_to @content.source.source_url, @content.source.source_url, ref: :nofollow, target: :_blank %></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td width="20%">URL</td>
                                            <td><%= link_to  @content.expanded_url.truncate(40), @content.expanded_url, ref: :nofollow, target: :_blank %></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td width="20%"><%= t(:shared_at) %></td>
                                            <td><%= l(@content.created_at, format: :long) %></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td width="20%"><%= t(:tag) %></td>
                                            <td>
                                                <div class="tags are-medium">
                                                <% @content.tags.each do |tag| %>
                                                <span class="tag is-normal"><%= tag %></span>
                                                <% end %>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td width="20%"><%= t(:language_code) %></td>
                                            <td><%= @content.language_code %></td>
                                        </tr>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td width="20%"><%= t(:category) %></td>
                                            <td><%= Configs::Category.find_by(id: @content.source.category_id).key %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                <%= t(:content_description) %>
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <%= @content.content.truncate(500) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>