<% vuejs_suffix = defined?(vuejs_suffix) ? vuejs_suffix : "" %>
<%= vue_content_tag :a, "#{vuejs_suffix}href" => content.expanded_url, rel: :nofollow, target: :_blank do %>
  <article class="media" v-bind:index="index">
    <div class="media-left">
      <figure class="image is-128x128">
        <%= vue_content_tag :div, "", class: "content-image", alt: "Image", **image %>
      </figure>
    </div>
    <div class="media-content">
      <%= vue_content_tag :h2, content.title %>
      <%= vue_content_tag :div, content.content, class: "content" %>
      <%= vue_content_tag :div, content.longer_tags.html_safe, "v-html" => content.longer_tags, class: "tags" %>
      <%= vue_content_tag :a, "#{vuejs_suffix}href" => content_url, target: :_blank do %>
        <button class="button is-primary is-rounded is-small">
          <%= t(:more_information) %>
        </button>
      <% end %>
      <p class="is-pulled-right media-source-name">
        <%= vue_content_tag :a, "#{vuejs_suffix}href" => content.source.source_url, rel: :nofollow, target: :_blank do %>
          <%= t('Shared By') %>&nbsp;
          <strong><%= content.source.view_name %>(<%= content.count_of_shared %>)</strong>
          &nbsp;/&nbsp;
          <%= vue_content_tag :small, content.created_at %>
        <% end %>
      </p>
    </div>
  </article>
  <hr/>
<% end %>