<!DOCTYPE html>
<html>
  <head>
    <%= Config[:head].html_safe %>
    <title>Newsdict</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= Config[:after_body].html_safe %>
    <%= yield %>
    <%= Config[:end_body].html_safe %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
